<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.mapper.DepartmentMapper">
    <resultMap id="OfficesResultMap" type="com.hospital.pojo.OfficesPOJO">
        <result column="depId" jdbcType="VARCHAR" property="depID"/>
        <result column="depName" jdbcType="VARCHAR" property="depName"/>
        <collection property="offices" ofType="com.hospital.pojo.Department">
            <id column="oId" jdbcType="INTEGER" property="OID"/>
            <result column="oName" jdbcType="VARCHAR" property="OName"/>
            <result column="detail" jdbcType="VARCHAR" property="detail"/>
        </collection>
    </resultMap>
    <resultMap id="resultMap" type="com.hospital.pojo.Department">
        <result column="oName" jdbcType="VARCHAR" property="OName"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
    </resultMap>
    <select id="selectAll" resultMap="OfficesResultMap">
        SELECT c.depId,c.depName,k.oId,k.oName,k.detail
        from center c,
             keshi k
        where c.depId = k.depId
    </select>

    <select id="selectById" resultMap="resultMap" parameterType="java.lang.Integer">
        select oName,location from keshi where oId=#{id}
    </select>

</mapper>